html, body {
  padding: 0;
  margin: 0;
  background: #000;
  color: #fff;
  font-family: helvetica;
  font-weight: bold;
  font-size: 18pt;
}

div.main {
  margin: 0 auto;
  width: 550px;
  height: 350px;
  position: relative;
  top: 50px;
}

div.canvas-container {
  width: 500px;
  height: 350px;
  position: absolute;
  box-shadow: inset 0px 0px 2px 2px #fff;
  z-index: 1;
}

div.canvas-container canvas {
  width: 100%;
  height: 100%;
}

div.canvas-container.top {
  z-index: 10;
}

div.controls {
  position: absolute;
  right: 0;
  width: 50px;
  bottom: 0;
  top: 0;
  background: rgba(30, 30, 30, 0.8);
}

div.controls ul {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}

div.controls ul li {
  margin: 0;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  background-color: rgba(80, 80, 80, 0.0);
  cursor: pointer;
  -webkit-transition: background-color 0.1s linear 0s;
  -moz-transition: background-color 0.1s linear 0s;
  -o-transition: background-color 0.1s linear 0s;
  -ms-transition: background-color 0.1s linear 0s;
  transition: background-color 0.1s linear 0s;
}

div.controls ul li:hover {
  background-color: rgba(80, 80, 80, 0.6);
}

div.controls ul li a {
  text-decoration: none;
}