html, body {
  padding: 0;
  margin: 0;
  background: #191919;
  color: #fff;
  font-family: brandon-grotesque, helvetica;
  font-weight: bold;
  font-size: 18pt;
}

h1, h2, h3 {
  font-weight: normal;
  line-height: 1.1;
}

div.main {
  margin: 0 auto;
  width: 550px;
  height: 350px;
  position: relative;
  top: 50px;
}

div.main.debug {
  margin: 0 0;
}

.how-to {
  float: left;
  margin-right: 20px;
}

.stage {
  position: relative;
}


.canvas-container.top {
  text-align: center;
  border: 3px dashed #FFF;
}

.left-image.top:before,
.right-image.top:before {
  height: 80px;
  font-size: 80px;
  position: relative;
  top: 100px;
}

.left-image.on:before {
  content: "1";
}
.right-image.on:before {
  content: "2";
}

div.canvas-container {
  width: 500px;
  height: 350px;
  position: absolute;
  z-index: 1;
  overflow: hidden;
}

div.canvas-container canvas {
  width: 100%;
  height: 100%;
  position: relative;
}

div.canvas-container.input canvas {
  opacity: 0;
}

div.main.debug div.canvas-container.output canvas {
  visibility: visible;
}

div.main.debug div.canvas-container.output {
  right: -600px;
}

div.canvas-container.output.top {
  background: #000;
}


div.canvas-container.output.top canvas {
  visibility: visible;
}

div.canvas-container.top {
  z-index: 10;
}

div.controls {
  position: absolute;
  right: 0;
  width: 50px;
  bottom: 0;
  top: 0;
  background: rgba(30, 30, 30, 0.8);
}

div.controls ul {
  padding: 0;
  margin: 0;
  list-style: none;
  width: 100%;
}

div.controls ul li {
  margin: 0;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  background-color: rgba(80, 80, 80, 0.0);
  cursor: pointer;
  -webkit-transition: background-color 0.1s linear 0s;
  -moz-transition: background-color 0.1s linear 0s;
  -o-transition: background-color 0.1s linear 0s;
  -ms-transition: background-color 0.1s linear 0s;
  transition: background-color 0.1s linear 0s;
}

div.controls ul li.on, div.controls ul li.on:hover {
  background-color: rgba(200, 140, 10, 0.6);
}

div.controls ul li:hover {
  background-color: rgba(80, 80, 80, 0.6);
}

div.controls ul li a {
  text-decoration: none;
}
